body {
  font-family: 'Montserrat';
}

h3{
  color:#FF9189;
  padding-bottom: 10px
}
ul{
  list-style: none;
  padding-left: 0;
}​

p{
  line-height: 2;
  font-family: 'Source Sans Pro';
}
/*Navigation Bar*/
.navbar{
  padding-bottom: 3rem;

}
.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  padding-top:0;
}

.logo{
  margin: auto;
  width: 50%;
  padding: 10px 50px 0 30px;
}
.title{
  font-family: 'Overpass';
  font-weight: 700;
}

.container{
  padding-bottom: 50px;
}
.mybody{
  background-image: linear-gradient(to bottom, #acb6e5, #74ebd5 );
}

.paragraph-break{
  line-height: 5;
}
.header{
  text-align: center;
  padding: 3% 8.5% 4%;
  color: white;
}
.description{
  padding-bottom: 3%
}

.text-section{
  background-color: white;
  opacity: 0.7;

}

.blog-heading{
  font-family: 'Montserrat';
  font-weight: 700;
}
.blog-date{
  font-family: 'Montserrat';
  color:#FF9189;
  font-size:1rem;
}
.blog-post{
  padding: 7% 9%;
  background-color: white;
  font-family: 'Source Sans Pro';
  font-size: 0.9rem;
  line-height:1.7;
  opacity: 0.8;
  margin-bottom: 30px;
}

.blog-post {
  font-family: 'Source Sans Pro';
}

.blog-sidebar{
  text-align: center;
}

.about-section{
  background-color: white;
  opacity: 0.8;
  padding:30px;
  padding-bottom:40px;
  font-family: 'Montserrat';

}

.about-heading{
  font-weight: 700;
}
.about-body{
  font-size: 0.9rem;
  margin-top: 20px;
  padding: 0 10px;
}
.profilepic{
border-radius: 100%;
  opacity: 1;
  width: 60%;

  padding: 10px;
}

.owl-image{
  width: 100px;
  float: left;
  margin-top: 10px;
}

.link{
  color:#5EB2B1;
}

.link:hover{
color: #92E0EF;
text-decoration: none;
}

.blog-pagination{
  padding: 20px 0;
}

.older:hover{
  color: white;
  opacity: 0.6;
}

.footer{
  background-color: white;
  text-align: center;
  color: gray;
  padding: 50px;
}

.footer-icon{
  padding: 20px 10px;
}

.copyright{
  margin-bottom: 0;
  font-family: 'Montserrat';
  font-size: 0.7rem;
}


.people{
  font-size: 1rem;
    color:#FF9189;
    padding-top: 10px;
}

.people-col{
  margin: 20px;
}

.chinatown{
  display:inline-block;
  padding-left: 0;
  width: 300px;
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 30px;
}

